<div class="nav">
    <div id="signature">
        <p>Coded by Banevski &copy; <span>all rights reserved</span></p>
    </div>
    <a class="nav-link" href="https://github.com/hbanevski" title="/hbanevski" target="_blank"><i class="fa fa-github"></i></a>

    <a class="nav-link" href="https://www.facebook.com/hbanevski" title="/hbanevski" target="_blank"><i class="fa fa-facebook"></i></a>


    <a class="nav-link" href="https://www.linkedin.com/in/hristijan-banevski-7b691718a/" title="linkedIn profile" target="_blank"><i class="fa fa-linkedin"></i></a>

</div>