<div id="container">
    <form id="movie-form" ngNativeValidate (ngSubmit)="onSubmit(name.value, description.value, director.value, actors.value, duration.value, imageUrl.value, trailerUrl.value)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input required #name name="name" type="text" class="form-control" id="name" placeholder="Enter the movie name">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea required #description name="desc" class="form-control" id="description" rows="3" placeholder="What is this movie about?"></textarea>
        </div>
        <div class="form-group">
            <label for="director">Directed by:</label>
            <input required #director name="director" type="text" class="form-control" placeholder="Director" id="director">
        </div>
        <div class="form-group">
            <label for="actors">Starring: </label>
            <input required #actors name="actors" type="text" class="form-control" id="actors" placeholder="Main cast">
        </div>
        <div class="form-group">
            <label for="duration">Duration: </label>
            <input required #duration name="duration" type="number" class="form-control" min="0" id="duration" placeholder="(minutes)">
        </div>
        <div class="form-group">
            <label for="trailerUrl">Trailer URL: </label>
            <input required #trailerUrl name="trailerUrl" type="text" class="form-control" id="trailerUrl" placeholder="The movie trailer from youtube">
        </div>
        <div class="form-group">
            <label for="imageUrl">Cover photo: </label>
            <input required #imageUrl name="imageUrl" type="file" class="form-control-file" id="imageUrl">
        </div>

        <div class="buttons">
            <button type="reset" class="btn btn-secondary" style="margin-bottom: 10px;">Clear <i class="fa fa-undo"></i></button>
            <button type="submit" class="btn btn-danger">Add movie to list <i class="fa fa-list"></i></button>
        </div>
    </form>
</div>